/*** 
========================================
    Navbar
========================================
 ***/
.navbar-header {
    width: 100%;
}

/*** 
========================================
    Site Content
========================================
 ***/
#side-nav {
    background-color: grey;
    max-height: 100%;
}

.page-header {
    padding-bottom: 9px;
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    background-color: rgb(237, 237, 237);
    padding: 32px 22px 32px 15px;
    color: #323232;
}

.page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: rgb(237, 237, 237);
    padding: 15px 30px;
    min-height: 1200px;
}

.panel-heading {
    color: #555;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
    text-shadow: none;
    padding: 10px 15px;
}

.panel-body {
    background: #FFFFFF;
    padding: 15px;
}

#dashboard-breadcrumb .breadcrumb {
    padding: 12px 10px 12px 20px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: #dddddd solid 1px;
    background: #fff;
}

/*** 
========================================
    Media Query
========================================
 ***/
@media only screen and (min-width: 992px) {
    #side-nav {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    #side-nav {
        display: none;
    }

    .dropdown-menu-right {
        right: auto;
        left: 0;
    }
}