* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Libre Baskerville', serif;
    height: 100vh;
}

a {
	text-decoration:none;
	color: inherit;
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none !important;
}

/* Hero Section */
#hero {
    padding-top: 185px;
    background: #0f1635 url('/static/image/hero-bg-pattern.png') center no-repeat;
    background-size: cover;
}

.hero-content {
    color: #fff;
    padding: 0 30px;
}

.hero-content p{
    font-size: 16px;
    line-height: 1.9em;
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: 400;
}

.hero-content a, .hero-content a:hover{
    text-decoration: none;
    color: #ffff;
}

/* Call to Action Section */
#call-to-action-section {
    padding: 28px 0px 25px;
    background-color: #5153ff;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3em;
}

#call-to-action-section span {
    padding: 0 40px 0 10px;
}

#test {
    height: 1000px;
}

/* Service Section */
#service-section {
    padding: 105px 0px 60px;
}

.service-block {
	margin-bottom:30px;
}

.service-block .card {
	position:relative;
	text-align:center;
	border-radius:7px;
    border: transparent;
	padding:40px 35px 42px;
	background-color:#ffffff;
	box-shadow:0px 20px 25px rgba(0,0,0,0.05);
}

.service-block .card .icon-block{
	width:65px;
	height:65px;
	color:#ffffff;
	font-size:28px;
	line-height:65px;
	text-align:center;
	margin:0 auto;
	border-radius:50px;
	background-color:#5153ff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.service-block .card:hover .icon-block{
	transform:rotateY(360deg);
}

.service-block .card h4{
	font-weight:700;
	line-height:1.3em;
	margin-top:25px;
}

.service-block .card h4 a{
	color:#14193d;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.service-block .card:hover h4 a{
	color:#5153ff;
}

.service-block .card p{
	color:#4e4f51;
	font-size:16px;
	line-height:1.9em;
	margin-top:15px;
}

.service-block:nth-child(2) .card .icon-block{
	background-color:#50d5a0;
}

.service-block:nth-child(2) .card:hover h4 a{
	color:#50d5a0;
}

.service-block:nth-child(3) .card .icon-block{
	background-color:#f98f74;
}

.service-block:nth-child(3) .card:hover h4 a{
	color:#f98f74;
}

/*Site Buttons*/
.theme-btn {
	display: inline-block;
	margin-right: 20px;
	padding: 10px 44px;
	font-size: 14px;
    line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: 50px;
    border: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.theme-btn:after{
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

.theme-btn:hover:after{
	height: 500%;
}

.btn-style-one, .btn-style-two {
    position: relative;
    text-transform: capitalize;
    transition: all 0.3s;
    z-index: 1;
}

.btn-style-one {
	background-color:  #5153ff;
	color: #fff;
}
.btn-style-one:after {
	background: #262626;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.btn-style-two {
    color: #14193d !important;
	background-color:  #ffffff;
}
.btn-style-two:after {
    color: #ffffff ;
	background: #5153ff;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.btn-style-two:hover {
    color: #ffffff !important;
}



/*Dashboard*/
.breadcrumb {
    padding: 12px 10px 12px 20px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: #dddddd solid 1px;
    background: #fff;
}
