{% extends "base.html" %}

{% block navbar %}
{% include 'includes/_dashboard_navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="header col-md-10 offset-md-1">
      <h1 class="page-header">
        Dashboard <small>Welcome {{ name }}</small>
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8 offset-md-2">
      <h2 class="sub-header">Account Management</h2>
      <a href="#" class="btn btn-default btn-outline-secondary" style="margin: 5px;">Create New Account</a>

      <div class="table-responsive">  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Account No</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Account Type</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_list %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ user[1].get_full_name() }}</td>
              <td>{{ user[1].get_email() }}</td>
              {% if user[1].get_account_type() == "A" %}
              <td>Admin</td>
              {% elif user[1].get_account_type() == "D" %}
              <td>Doctor</td>
              {% elif user[1].get_account_type() == "S" %}
              <td>Staff</td>
              {% elif user[1].get_account_type() == "P" %}
              <td>Patient</td>
              {% endif %}
              <td>
                <form action="{{url_for('update_account', uid=user[0])}}" method="POST">
                  <input type="submit" value="Update" class="btn btn-warning">
                </form>
              </td>
              <td>
                <form action="{{url_for('delete_account', uid=user[0])}}" method="POST">
                  <input type="submit" value="Delete" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete {{user[1].get_full_name()}}s account?');">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}