{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{{ super() }}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <form class="col-md-8 offset-2" method="POST" action="">
        <h1 class="display-4">Add Medicine</h1>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.med_name) }}
        {{ wtf.form_field(form.med_type) }}
        {{ wtf.form_field(form.quantity) }}
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
    </div>
  </div>
{% endblock %}



