{% extends "base.html" %}

{% block navbar %}
{% include 'includes/_dashboard_navbar.html' %}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="side-nav col-md-2">
      test
    </div>
    <div class="col-md-9">
      <h1 class="">
        Dashboard <small>Welcome {{ name }}</small>
      </h1>
      <nav id="dashboard-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Doctor</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}