{% extends "base.html" %}

{% block navbar %}
{{ super() }}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <div id="hero" class="row no-gutters">
    <div class="hero-img col-md-5 offset-md-1">
      <img src="/static/image/hero-img.png">
    </div>
    <div class="hero-content col-md-4">
      <h1>We are providing best and affordable health care</h1>
      <p>We have built hospitals, arrange your doctor appointments and you will get your fast results. We have the
        latest technology to diagnose and treat you.</p>
      <a href="/book_appointment" class="theme-btn btn-style-one"><span>Book An Appointment</span></a>
      <a href="#" class="theme-btn btn-style-two"><span>Our Services</span></a>
    </div>
  </div>
</div>

<div id="call-to-action-section">
  <i class="fas fa-phone-volume fa-lg" style="transform: rotate(320deg); padding-left: 15px;"></i><span>Call For An
    Appointment</span><a href="tel:+65-1234-5678">+65 1234 5678</a>
</div>

<div id="service-section">
  <div class="container">
    <div class="row">
      <div class="service-block col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="icon-block"><i class="fas fa-user-md"></i></div>
          <h4><a href="#">Qualified Doctors</a></h4>
          <p>Replenish him third creature and meat blessed void a fruit gathered you’re behold had seed.</p>
        </div>
      </div>
      <div class="service-block col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="icon-block"><i class="fas fa-user-tie"></i></div>
          <h4><a href="#">Professional Staff</a></h4>
          <p>Replenish him third creature and meat blessed void a fruit gathered you’re behold had seed.</p>
        </div>
      </div>
      <div class="service-block col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="icon-block"><i class="fas fa-ambulance"></i></div>
          <h4><a href="#">Emergency Cases</a></h4>
          <p>Replenish him third creature and meat blessed void a fruit gathered you’re behold had seed.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="appointment-section" style="background-image: url(/static/image/appointment-section.jpg)">
  <div class="container">
    <div class="inner-container">
      <a href="/book_appointment" class="theme-btn btn-style-one"><span>Book An Appointment</span></a>
    </div>
  </div>
</div>

<div id="about-section">
  <div class="container">
    <div class="row">
      <!-- Content Column -->
      <div class="content-column col-lg-7 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Sec Info -->
          <div class="sec-info">
            <div class="title">About Medcare</div>
            <h2>We have the best doctors <br> available in the city</h2>
            <p>Replenish him third creature and meat blessed void a fruit gathered
              you’re behold had seed. Replenish him third creature and meat blessed void a fruit
              gathered you’re behold had seed.
            </p>
          </div>
          <div class="row">
            <div class="column col-lg-5 col-md-6 col-sm-12">
              <ul class="list-style-one">
                <li>Emergency Cases</li>
                <li>Expert Doctors</li>
              </ul>
            </div>
            <div class="column col-lg-5 col-md-6 col-sm-12">
              <ul class="list-style-one">
                <li>Modern Clinic</li>
                <li>24/7 Help Center</li>
              </ul>
            </div>
          </div>
          <div class="button-box">
            <a href="about.html" class="theme-btn btn-style-one"><span class="txt">More About Us</span></a>
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-5 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="pattern-image" style="background-image: url(/static/image/tablet.png)"></div>
          <div class="image">
            <img src="/static/image/about-section.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="service-section-two">
  <div class="container-fluid">
  </div>
</div>

<div id="team-section">
  <div class="container-fluid">

  </div>
</div>



<div id="news-section">
  <div class="container-fluid">

  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  function NavbarCollapse() {
    if (document.getElementById("navbar-toggler-icon").getAttribute("aria-expanded") == "true") {
      setTimeout(function () {
        document.body.style.backgroundColor = "white";
        $("#hero").show();
        $("#call-to-action-section").show();
        $("#service-section").show();
        $("#about-section").show();
        $("#service-section-two").show();
        $("#team-section").show();
        $("#appointment-section").show();
        $("#news-section").show();
        $("#footer").show();
      }, 300);
    } else {
      document.body.style.backgroundColor = "black";
      $("#hero").hide();
      $("#call-to-action-section").hide();
      $("#service-section").hide();
      $("#about-section").hide();
      $("#service-section-two").hide();
      $("#team-section").hide();
      $("#appointment-section").hide();
      $("#news-section").hide();
      $("#footer").hide();
    }
  };
</script>
{% endblock %}