{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{{ super() }}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-6 offset-md-3" method="POST" action="/login">
                <h2> Please Sign In</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember) }}
                <input type="submit" value="Sign In" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}

