{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{{ super() }}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
<div id="page-title" style="background-image: url(/static/image/street.jpg);">
    <div class="pattern-layer" style="background-image: url(/static/image/pattern-1.png)"></div>
    <div class="container">
        <h1>Log In</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Sign Up</li>
            </ol>
        </nav>
    </div>
</div>
<div id="register-section">
    <div class="container">
        <div class="register-box">
            <div class="title-box">
                <h2>Register</h2>
            </div>
            <div class="styled-form">
                <form method="POST" action="/register">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.first_name, placeholder="First Name", class="form-control offset-lg-2 col-lg-8 col-md-12 col-sm-12") }}
                        {{ wtf.form_field(form.last_name, placeholder="Last Name", class="form-control offset-lg-2 col-lg-8 col-md-12 col-sm-12") }}
                        {{ wtf.form_field(form.email, placeholder="Email", class="form-control offset-lg-2 col-lg-8 col-md-12 col-sm-12") }}
                        {{ wtf.form_field(form.password, placeholder="Password", class="form-control offset-lg-2 col-lg-8 col-md-12 col-sm-12") }}
                        {{ wtf.form_field(form.confirm, placeholder="Confirm Password", class="form-control offset-lg-2 col-lg-8 col-md-12 col-sm-12") }}
                        {{ wtf.form_field(form.accept_tos) }}
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <button type="submit" class="theme-btn btn-style-one">
                                <span>Sign Up</span>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}