{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="containter-fluid">
  <div class="row">
    <form class="col-md-8 offset-2" method="POST" action="">
      <h1 class="display-4">Update Patient Particulars</h1>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.first_name) }}
      {{ wtf.form_field(form.last_name) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.birth_cert) }}
      {{ wtf.form_field(form.home_addr) }}
      {{ wtf.form_field(form.telephone) }}
      {{ wtf.form_field(form.medication) }}
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
  </div>
</div>
{% endblock %}

