{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{{ super() }}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
<div id="page-title" style="background-image: url(/static/image/nature.jpg);">
  <div class="pattern-layer" style="background-image: url(/static/image/pattern-1.png)"></div>
  <div class="container">
    <h1>Update Particulars</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item">Update Particulars</li>
      </ol>
    </nav>
  </div>
</div>
<div id="login-section">
  <div class="container">
    <div class="login-box">
      <div class="title-box">
        <h2>Update Patient Particulars</h2>
      </div>
      <div class="styled-form">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.first_name) }}
          {{ wtf.form_field(form.last_name) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.birth_cert) }}
          {{ wtf.form_field(form.home_addr) }}
          {{ wtf.form_field(form.telephone) }}
          {{ wtf.form_field(form.medication) }}
          <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <button type="submit" class="theme-btn btn-style-one">
              <span>Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}